@import url("https://use.typekit.net/hzl0dpz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Myriad, sans-serif;
}

.mapboxgl-map {
  font-family: Myriad, sans-serif !important;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}
