@import url("https://use.typekit.net/hzl0dpz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Myriad, sans-serif;
}

.mapboxgl-map {
  font-family: Myriad, sans-serif !important;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .sidebar {
    width: 35vw !important;
  }
}
